@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(39, 40, 41, 1) 0%, rgba(97, 116, 122, 1) 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 30%, rgba(97,103,122,1) 67%);
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    margin-bottom: 20em;
}

header h1 {
    margin: 0;
    padding: 20px;
    color: white;
}

.calculadora {
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 500px;
    text-align: center;
    position: fixed;
}

.display {
    background-color: #444;
    color: white;
    padding: 30px;
    border-radius: 15px 15px 0 0;
    height: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 100px;
}


.historico {

    margin-bottom: 32.3em;
    margin-left: 15em;
    position: fixed;

}

.historico-span-imagem {
    width: 30px;
    height: 30px;
    vertical-align: middle;

}

.historico-label {
    margin-left: 5em;
    cursor: pointer;
    position: fixed;
}

.lista {
    background-color: rgba(39, 40, 41, 0.8);
    color: white;
    padding: 10px;
    border-radius: 15px;
    position: fixed;
    top: 90px; 
    right: 10px; 
    text-align: center;
    display: none;
    max-height: 80vh;
    overflow-y: auto;
}

.historico-titulo {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

#historico-lista {
    list-style: none;
    padding: 0;
}

.caixaDoHistorico {
    display: none;
}

li {
    color: white;
    font-size: 1.5em;
    word-wrap: break-word;
    padding-bottom: .4em;
    max-width: 250px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 30px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.operador {
    background-color: #f66;
    color: white;
}

.limpar {
    background-color: #f00;
    font-size: 24px;
    padding: 15px 30px;
}

.limpar:hover {
    background-color: #DF2E38;
}

.igual {
    background-color: #0f0;
    font-weight: bold;
}

.igual:hover {
    background-color: #38E54D;
}

.campo {
    padding: 1em;
}

.apagar_console {
    background-color: #4F709C;
    background-image: url('./imagens/excluir\(3\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.apagar_console:hover {
    background-color: #51699b;
}

.apagar {
    background-color: orange;
    background-size: contain;
    justify-content: center;
    text-align: center;
}
.apagar:hover {
    background-color: darkorange;
}

footer {
    background: rgb(50,52,55);
    background: linear-gradient(0deg, rgba(50,52,55,1) 20%, rgba(51,51,51,1) 82%);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer h2 {
    margin: 0;
    padding: 20px;
    color: white;
}

@media screen and (max-width: 600px) {
    .calculator {
        width: 90%;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr);
    }

    button {
        font-size: 20px;
        padding: 15px;
    }
}